<!DOCTYPE html>

<title>Edit Dren</title>

{% block body %}
    <h1>Edit Dren</h1>

    {{ include('dren/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_dren_index') }}">back to list</a>

    {{ include('dren/_delete_form.html.twig') }}
{% endblock %}
