<div class="offcanvas offcanvas-end customeoff" style="width: 85% !important" tabindex="-1" id="offcanvasFileDepense">
    <div class="offcanvas-header">
        <h5 class="modal-title" id="#gridSystemModal1">Fichier preuve</h5>
        <button type="button" class="btn-close btn-dark" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <div class="container-fluid"  id="file-container">
            <div class="d-flex align-items-center justify-content-center" style="height: 800px;">
                <span><i class="fa fa-spinner fa-spin fa-4x text-warning"></i></span>
            </div>
        </div>
    </div>
</div>
