<!DOCTYPE html>

<title>New PosteOrgane</title>

{% block body %}
    <h1>Create new PosteOrgane</h1>

    {{ include('poste_organe/_form.html.twig') }}

    <a href="{{ path('app_poste_organe_index') }}">back to list</a>
{% endblock %}
