<!DOCTYPE html>

<title>New Pacc</title>

{% block body %}
    <h1>Create new Pacc</h1>

    {{ include('pacc/_form.html.twig') }}

    <a href="{{ path('app_pacc_index') }}">back to list</a>
{% endblock %}
