<!DOCTYPE html>

<title>Edit Chapitres</title>

{% block body %}
    <h1>Edit Chapitres</h1>

    {{ include('chapitres/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_chapitres_index') }}">back to list</a>

    {{ include('chapitres/_delete_form.html.twig') }}
{% endblock %}
