<!DOCTYPE html>

<title>New Chapitres</title>

{% block body %}
    <h1>Create new Chapitres</h1>

    {{ include('chapitres/_form.html.twig') }}

    <a href="{{ path('app_chapitres_index') }}">back to list</a>
{% endblock %}
