<h1>Chapitres</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ chapitre.id }}</td>
        </tr>
        <tr>
            <th>LibelleChapitre</th>
            <td>{{ chapitre.libelleChapitre }}</td>
        </tr>
    </tbody>
</table>
