<table id="membre_organe_datatable" class="table dataTable no-footer w-100" role="grid" aria-describedby="dt_info">
    <thead>
    <tr role="row">
        <th>#</th>
        <th>NOM</th>
        <th>PRENOMS</th>
        <th>GENRE</th>
        <th>PROFESSION</th>
        <th>CONTACT</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
