<div class="offcanvas offcanvas-end customeoff" tabindex="-1" id="offcanvasCreateCoges">
    <div class="offcanvas-header">
        <h5 class="modal-title" id="#gridSystemModal1">Enregistrer un COGES</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <div class="container-fluid">
            <form id="formCreateCoges" method="post" action="{{ path('app_coges_new_ajax') }}">
                <div class="row">
                    <div class="col-xl-6 mb-3">
                        <label for="libelle" class="form-label">Libellé<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="libelle">
                    </div>
                    <div class="col-xl-6 mb-3">
                        <label for="numero_compte" class="form-label">Numéro de compte<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="numero_compte">
                    </div>
                    <div class="col-xl-6 mb-3">
                        <label for="domiciliation" class="form-label">Domiciliation<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="domiciliation">
                    </div>
                    <div class="col-xl-6 mb-3">
                        <div class='form-check form-switch'>
                            <input class='form-check-input' type='checkbox' role='switch' id="groupe_scolaire" name="groupe_scolaire">
                            <label class="form-check-label" for="groupe_scolaire">Groupe scolaire</label><span class="text-danger">*</span></label>
                        </div>
                    </div>
                    <div class="col-xl-6 mb-3">
                        <label for="cycle" class="form-label">Cycle<span class="text-danger">*</span></label>
                        <select type="text" class="form-control select2" name="cycle">
                            <option value="1">Primaire</option>
                            <option value="2">Secondaire</option>
                        </select>
                    </div>
                    <div class="col-xl-6 mb-3">
                        <label for="region_id" class="form-label">REGION<span class="text-danger">*</span></label>
                        <select type="text" class="form-control region select2" name="region_id">
                        </select>
                    </div>
                    <div class="col-xl-6 mb-3">
                        <label for="commune_id" class="form-label">COMMUNE<span class="text-danger">*</span></label>
                        <select type="text" class="form-control commune select2" name="commune_id">
                        </select>
                    </div>
                    <div class="col-xl-6 mb-3">
                        <label for="iepp_id" class="form-label">IEPP<span class="text-danger">*</span></label>
                        <select type="text" class="form-control iepp select2" name="iepp_id">
                        </select>
                    </div>
                    <div class="col-xl-6 mb-3">
                        <label for="dren_id" class="form-label">DREN<span class="text-danger">*</span></label>
                        <select type="text" class="form-control dren select2" name="dren_id">
                        </select>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary me-1" id="btnCreateCoges" data-bs-dismiss="offcanvas">Enregister</button>
                    <button class="btn btn-info light ms-1" id="btnCancel"  data-bs-dismiss="offcanvas">Annuler</button>
                </div>
            </form>
        </div>
    </div>
</div>
